<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>MCHDurham</title>
  <link rel="stylesheet" href="stylesheets/app.css">
  <script src="javascripts/vendor/custom.modernizr.js"></script>
</head>

<body>

  <div class="row">
    <div class="large-12 columns">
      <nav class="top-bar">
        <ul class="title-area">
          <li class="name"><h1><a href="index.html">MCHD</a></h1></li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li class="has-dropdown"><a href="#">Parents</a>
              <ul class="dropdown">
                <li><a href="parents.html#current">Current Parents</a></li>
                <li><a href="school-plus.html#about">School Plus!</a></li>
                <li><a href="parents.html#forms">School Forms</a></li>
                <li><a href="school-plus.html#no-school-camp">No school Camp</a></li>
              </ul>
            </li>
            <li class="has-dropdown"><a href="#">Montessori</a>
              <ul class="dropdown">
                <li><label>Montessori at MCHD</label></li>
                <li><a href="montessori.html#mission">MCHD Mission Statement</a></li>
                <li><a href="montessori.html#philosophy">Philosophy</a></li>
                <li><a href="montessori.html#history">History</a></li>
                <li><a href="montessori.html#what">What is Montessori?</a></li>
                <li><a href="montessori.html#accreditation">Accreditation</a></li>
                <li><a href="montessori.html#faqs">FAQs</a></li>
                <li><a href="montessori.html#pa">Parents Association</a></li>
              </ul>
            </li>
            <li class="has-dropdown"><a href="#">Community</a>
              <ul class="dropdown">
                <li><label>MCHD Community</label></li>
                <li><a href="community.html#community">MCHD Community</a></li>
                <li><a href="community.html#characteristics">Community Characteristics</a></li>
                <li><a href="community.html#building#">Community Building</a></li>
              </ul>
            </li>
            <li class="has-dropdown"><a href="#">Curriculum</a>
              <ul class="dropdown">
                <li><label>and Academics</label></li>
                <li><a href="curriculum.html#classroom">The Montessori Classroom</a></li>
                <li><a href="curriculum.html#toddler">Toddler</a></li>
                <li><a href="curriculum.html#early">Early Childhood</a></li>
                <li><a href="curriculum.html#extended">Extended Day</a></li>
                <li><a href="curriculum.html#lower">Lower Elementary</a></li>
                <li><a href="curriculum.html#upper">Upper Elementary</a></li>
                <li><a href="curriculum.html#art">Art</a></li>
                <li><a href="curriculum.html#spanish">Spanish</a></li>
                <li><a href="curriculum.html#physical">Physical Education</a></li>
              </ul>
            </li>
            <li class="has-dropdown"><a href="#">School Plus!</a>
              <ul class="dropdown">
                <li><a href="school-plus.html#about">About School Plus!</a></li>
                <li><a href="school-plus.html#after-care">After School Care</a></li>
                <li><a href="school-plus.html#enrichments">After School Enrichments</a></li>
                <li><a href="school-plus.html#orientation">Orientation</a></li>
                <li><a href="school-plus.html#before-care#">Before School Care</a></li>
                <li><a href="school-plus.html#no-school-camp#">No School Camp</a></li>
                <li><a href="school-plus.html#drop-in-care#">Drop-In Care</a></li>
                <li><a href="school-plus.html#faqs#">FAQs</a></li>
                <li class="has-dropdown"><a href="#">Summer Camp</a>
                  <ul class="dropdown">
                    <li><a href="summer-camp.html#programs">Programs for This Summer</a></li>
                    <li><a href="summer-camp.html#themes">Weekly Themes and Schedule</a></li>
                    <li><a href="summer-camp.html#bring">What to Bring</a></li>
                    <li><a href="summer-camp.html#faqs">FAQs</a></li>
                    <li><a href="summer-camp.html#policies">Registration and Cancellation Policies</a></li>
                    <li><a href="summer-camp.html#downloads">Downloads</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="has-dropdown"><a href="#">Who We Are</a>
              <ul class="dropdown">
                <li><a href="#">Faculty and Staff</a></li>
                <li><a href="#">Toddler</a></li>
                <li><a href="#">Early Childhood and Extended Day</a></li>
                <li><a href="#">Lower Elementary</a></li>
                <li><a href="#">Upper Elementary</a></li>
                <li><a href="#">Specialists</a></li>
                <li><a href="#">School Plus!</a></li>
                <li><a href="#">Administration</a></li>
              </ul>
            </li>
            <li class="has-dropdown"><a href="#">Admissions</a>
              <ul class="dropdown">
                <li><a href="admissions.html#know-us">Get To Know Us</a></li>
                <li><a href="admissions.html#apply">How To Apply</a></li>
                <li><a href="admissions.html#orientation">New Student Orientation</a></li>
                <li><a href="admissions.html#faqs">FAQs</a></li>
                <li class="has-dropdown"><a href="#">Tuition</a>
                  <ul class="dropdown">
                    <li><a href="tuitionandaid.html#tuition">Tuition and Fees</a></li>
                    <li><a href="tuitionandaid.html#aid">Financial Aid</a></li>
                    <li><a href="tuitionandaid.html#replacement">Replacement</a></li>
                    <li><a href="tuitionandaid.html#faqs">FAQs</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>
    </div>
  </div>

  {{content}}

  <footer class="row">
    <div class="large-12 columns">
      <hr/>
    </div>
    <div class="large-3 offset-8 columns">
      <h5 class="subheader">STAY IN TOUCH</h5>
      <ul class="vcard">
        <li class="street-address">2800 Pickett Road</li>
        <li><span class="locality">Durham</span>, <span class="state">NC</span><span class="zip">27705</span></li>
        <li class="email"><a href="#">info@mchdurham.org</a></li>
      </ul>
    </div>
  </footer>

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'javascripts/vendor/zepto' : 'javascripts/vendor/jquery') +
  '.js><\/script>')
  </script>

  <script src="javascripts/foundation/foundation.js"></script>
	<script src="javascripts/foundation/foundation.abide.js"></script>
	<script src="javascripts/foundation/foundation.alerts.js"></script>
	<script src="javascripts/foundation/foundation.clearing.js"></script>
	<script src="javascripts/foundation/foundation.cookie.js"></script>
	<script src="javascripts/foundation/foundation.dropdown.js"></script>
	<script src="javascripts/foundation/foundation.forms.js"></script>
	<script src="javascripts/foundation/foundation.interchange.js"></script>
	<script src="javascripts/foundation/foundation.joyride.js"></script>
	<script src="javascripts/foundation/foundation.magellan.js"></script>
	<script src="javascripts/foundation/foundation.orbit.js"></script>
	<script src="javascripts/foundation/foundation.placeholder.js"></script>
	<script src="javascripts/foundation/foundation.reveal.js"></script>
	<script src="javascripts/foundation/foundation.section.js"></script>
	<script src="javascripts/foundation/foundation.tooltips.js"></script>
	<script src="javascripts/foundation/foundation.topbar.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
